*{
  box-sizing: border-box;
}
.main {
  color: #535387;
  text-align: center;
  
}
.d-flex {
  display: flex;
 justify-content: space-around;
}
.container {
  display: flex;
  width: 35rem;
  flex-wrap: wrap;
  background-color: #e2e2f0;
  align-items: center;
}
.side-bar{
  width: 15rem; 
  padding: 1rem;
  background-color: #e2e2f0;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}

.container-item {
  width: 6rem;
  height: 5rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #535387;
}

.selected{
  background-color: #d0d0e7;
}

.button{
  padding: 1rem;
  margin: 0.5rem;
  box-sizing: border-box;
  border-style: none;
}

.button:hover{
  background-color: #d0d0e7;
  border-style: none;
}